body {
  height: 100px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard {
  margin-top: 50px;
}
